<form name="newTask" ng-submit="form.add()" novalidate>
    <h1>Добавить задачу</h1>
    <div class="form-group" ng-class="{'has-error':(isNameValid = (newTask.name.$dirty && newTask.name.$invalid))}">
        <label>Название задачи</label>
        <input type="text"
               name="name"
               ng-model="task.title"
               required=""
               class="form-control" placeholder="Захват мира!">
        <p class="help-block has-error" ng-show="isNameValid">
            Назовите, то чем займётесь!
        </p>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea
                ng-model="task.desc"
                placeholder="Вы можете как написать, так и не неписать его."
                class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group" ng-class="{'has-error':(isDateValid = (newTask.date.$dirty && newTask.date.$invalid))}">
        <label>Дата и время окончания</label>
        <!--
        Пожалуй, самый спорный момент в данном приложении.
        Разделения выбора даты и времени на 2 поля.
        Если сделать реально 2 поля, то будет необходимо усложнять логику
        для последующего сведения в одно.
        -->
        <div class="row">
            <div class="col-xs-6">
                <input type="date"
                       name="date"
                       ng-model="task.date"
                       required=""
                       min="task.date"
                       class="form-control">
            </div>
            <div class="col-xs-6">
                <input type="time"
                       name="time"
                       ng-model="task.date"
                       class="form-control">
            </div>
        </div>
        <p class="help-block" ng-show="isDateValid">
            Любая задача должна когда-нибудь закончится.
        </p>
    </div>
    <button ng-disabled="newTask.$invalid" type="submit" class="btn btn-default ">Добавить</button>
</form>